<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.mybatis.MemberMapper">

	<resultMap type="Member" id="MemberResultMap">
		<result property="_name" column="NAME" />
		<result property="_email" column="EMAIL" />
		<result property="_phone" column="PHONE" />
	</resultMap>

	<!-- id의 경우에는 MemberMapper.java에 동일하게 사용해야된다. -->
	<select id="getMembers" resultMap="MemberResultMap">
		SELECT * FROM tab_mybatis02
	</select>
	
	<!-- parameterType 에는 구문에 전달될 파라미터의 패키지 경로를 포함한 전체 클래명이나 별칭이 들어간다  -->
	<!-- parameterType에는 Alias정의 안했으니까 풀네임을 넣어줌 -->
	<insert id="insertMember" parameterType="com.test.mybatis.Member" >
		INSERT INTO tab_mybatis02 values(#{_name},#{_email},#{_phone})
	</insert>
	
	<!-- update는 생략한다. -->
	<update id="updateMember" parameterType="com.test.mybatis.Member">
		UPDATE tab_mybatis02 set email=#{_email}, phone=#{_phone} WHERE name=#{_name}
	</update>
		
	<delete id="deleteMember" parameterType="com.test.mybatis.Member">
		DELTE tab_mybatis02 WHERE(name=#{_name})
	</delete>

</mapper>